<html>
  <head>
    <title>My Movies</title>
  </head>
  <body>
    <h1>Movies List</h1>
    <ul>
      <% @movies.each do |movie| %>
        <li>
          <a href='/movies/<%= movie.id %>'>
            <%= movie.title %>
          </a>
        </li>
      <% end %>
    </ul>
    <br />
    <a href='/movies/new'>Add new movie</a>
  </body>
</html>
